@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0F0E0E;
  color: #D9D9D9;  
  font-family: "Montserrat", sans-serif;
}

.gradient-bg {
  background: linear-gradient(to right, #1a1a1a, rgb(36, 36, 36), #1a1a1a );
  background-size: 600% 600%;
}

